*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif
}
:root{
  --body-color:#efefef;
  --nav-color:#1876f2;
  --bg-color:#fff;
}
.dark_theme{
  --body-color:#0a0a0a;
  --nav-color:#000;
  --bg-color:#000;
}
/* remove Arror from input type number */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}